{{define "title"}}Home{{end}}

{{define "main"}}
<div class="container text-center mt-5 p-5">
	<div class="row">
		<div class="col-12">
			<h1>To Do List</h1>
			<form class="form-inline mt-4">
				<div class="input-group">	
			  		<input type="text" class="form-control" placeholder="Task">
			  		<button type="submit" class="btn btn-primary">Add</button>
			  	</div>
			</form>
		</div>
		<div class="col-12 mt-4">
			{{if .Tasks}}
				<h1>Tasks</h1>
				<table class="w-100">
			        <tr>
			            <th>Task</th>
			            <th>Created</th>
			            <th>ID</th>
			            <th>Options</th>
			        </tr>
			        {{range .Tasks}}
			        <tr>
			            <td><a href='/todo/{{.ID}}'>{{.Task}}</a></td>
			            <td>{{.Created}}</td>
			            <td>#{{.ID}}</td>
			            <td><button type="submit" class="btn btn-danger">Delete</button></td>
			        </tr>
			        {{end}}
			    </table>
			{{else}}
				<p>There's nothing to see here... yet!</p>
			{{end}}
		</div>
	</div>
</div>
{{end}}