{{define "title"}}Home{{end}}

{{define "main"}}
<div class="container text-center mt-5 p-5">
	<div class="row">
		<div class="col-12">
			<h1>To Do List</h1>
			<form class="form-inline mt-4" method="POST" action="/todo">
				<div class="input-group">	
			  		<input type="text" name="task" class="form-control" placeholder="Task">
			  		<button type="submit" class="btn btn-primary">Add</button>
			  	</div>
			</form>
		</div>
		<div class="col-12 mt-4">
			{{if .Tasks}}
				<h1>Tasks</h1>
				<table class="w-100">
			        <tr>
			            <th>ID</th>
			            <th>Task</th>
			            <th>Created</th>
			            <th>Options</th>
			        </tr>
			        {{range .Tasks}}
			        <tr>
			            <td>#{{.ID}}</td>
			            <td><a href='/todo/{{.ID}}'>{{.Task}}</a></td>
			            <td>{{humanDate .Created}}</td>
			            <td>
						    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
							  Delete
							</button>
			            </td>	
			        </tr>
			        <!-- Modal -->
					<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
					  <div class="modal-dialog modal-dialog-centered">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h1 class="modal-title fs-5" id="deleteModal">Are You sure? </h1>
					        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					      </div>
					      <div class="modal-body">
					        <p>Do You really wanted to delete '{{.Task}}' task?</p>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
					        <form action="/todo/{{.ID}}" method="POST" style="display:inline;">
			            		 <input type="hidden" name="_method" value="DELETE">
    							<button type="submit" class="btn btn-danger">Yes</button>
						    </form>
					      </div>
					    </div>
					  </div>
					</div>
			        {{end}}
			    </table>
			{{else}}
				<p>There's nothing to see here... yet!</p>
			{{end}}
		</div>
	</div>
</div>
{{end}}