{{define "title"}} Tasks #{{.Task.ID}}{{end}}

{{define "main"}}
	{{with .Task}}
	<div class="container text-center p-5">
		<h1>Your Task - {{.Task}}</h1>
		<table class="w-100 mt-5">
	        <tr>
	            <th>Task</th>
	            <th>Created</th>
	            <th>ID</th>
	            <th>Options</th>
	        </tr>
	        <tr>
	            <td>{{.Task}}</td>
	            <td>{{.Created}}</td>
	            <td>#{{.ID}}</td>
	            <td><button type="submit" class="btn btn-danger">Delete</button></td>
	        </tr>
	    </table>
	</div>
	{{end}}

{{end}}